In [44]:
# import dependicies
import pandas as pd

In [56]:
# create file paths for the 4 CSVs
quarter_one = "Resources/bee_colonies_2015/hcny_p01_t005.csv"
quarter_two = "Resources/bee_colonies_2015/hcny_p02_t001.csv"
quarter_three = "Resources/bee_colonies_2015/hcny_p03_t007.csv"
quarter_four = "Resources/bee_colonies_2015/hcny_p04_t008.csv"

In [134]:
# Read in the CSVs, ignore the first 9 rows, do not identify a header and name the columns
q1 = pd.read_csv(quarter_one, skiprows=9, header=None, names =['aaa', 'bbb', 'State', 'Number of Colonies', 'Max Colonies', 'Lost Colonies', 'Percent lost', 'Added', 'Renovated', 'Percent Renovated'])
q2 = pd.read_csv(quarter_two, skiprows=9, header=None, names =['aaa', 'bbb', 'State', 'Number of Colonies', 'Max Colonies', 'Lost Colonies', 'Percent lost', 'Added', 'Renovated', 'Percent Renovated'])
q3 = pd.read_csv(quarter_three, skiprows=9, header=None, names =['aaa', 'bbb', 'State', 'Number of Colonies', 'Max Colonies', 'Lost Colonies', 'Percent lost', 'Added', 'Renovated', 'Percent Renovated'])
q4 = pd.read_csv(quarter_four, skiprows=9, header=None, names =['aaa', 'bbb', 'State', 'Number of Colonies', 'Max Colonies', 'Lost Colonies', 'Percent lost', 'Added', 'Renovated', 'Percent Renovated'])

In [138]:
# Clean up df 1
q1_df = q1[["State", "Number of Colonies", "Lost Colonies", "Added", "Renovated"]]
q1_df.head(10)

         State  Number of Colonies  Lost Colonies     Added Renovated
0      Alabama              7000.0         1800.0    2800.0       250
1      Arizona             35000.0         4600.0    3400.0      2100
2     Arkansas             13000.0         1500.0    1200.0        90
3   California           1440000.0       255000.0  250000.0    124000
4     Colorado              3500.0         1500.0     200.0       140
5  Connecticut              3900.0          870.0     290.0         -
6      Florida            305000.0        42000.0   54000.0     25000
7      Georgia            104000.0        14500.0   47000.0      9500
8       Hawaii             10500.0          380.0    3400.0       760
9        Idaho             81000.0         3700.0    2600.0      8000

In [59]:
# Clean up df 2
q2_df = q2[["State", "Number of Colonies", "Lost Colonies", "Added", "Renovated"]]
q2_df.head(10)

         State  Number of Colonies  Lost Colonies     Added  Renovated
0      Alabama              7500.0          860.0    1900.0      680.0
1      Arizona             33000.0         5500.0   19500.0     7000.0
2     Arkansas             13500.0         1900.0   11500.0     5500.0
3   California           1040000.0       104000.0  170000.0   285000.0
4     Colorado             12000.0         1900.0    6000.0     3500.0
5  Connecticut              3000.0           80.0    1100.0      150.0
6      Florida            210000.0        35000.0   44000.0    24000.0
7      Georgia            114000.0        23000.0   25000.0    19000.0
8       Hawaii             13500.0          120.0    1100.0     1200.0
9        Idaho             62000.0         6500.0   16500.0    10500.0

In [60]:
# Clean up df 3
q3_df = q3[["State", "Number of Colonies", "Lost Colonies", "Added", "Renovated"]]
q3_df.head(10)

         State  Number of Colonies  Lost Colonies    Added  Renovated
0      Alabama              8500.0         1400.0    160.0      260.0
1      Arizona             40000.0         6000.0   4300.0    15500.0
2     Arkansas             23000.0         9000.0    500.0      210.0
3   California            730000.0        76000.0  40000.0    93000.0
4     Colorado             29000.0         4500.0   1400.0     1400.0
5  Connecticut              3700.0           50.0    190.0      440.0
6      Florida            164000.0        36000.0  37000.0    29000.0
7      Georgia            108000.0        13000.0  19500.0    15500.0
8       Hawaii             14500.0         2700.0   1200.0     5500.0
9        Idaho             80000.0        14000.0   5500.0    11500.0

In [61]:
# Clean up df 4
q4_df = q4[["State", "Number of Colonies", "Lost Colonies", "Added", "Renovated"]]
q4_df.head(10)

         State  Number of Colonies  Lost Colonies  Added Renovated
0      Alabama              8000.0          610.0     80        60
1      Arizona             36000.0        12000.0   3000     16000
2     Arkansas             23000.0         2400.0   1900         -
3   California            750000.0       149000.0  39000     75000
4     Colorado             24000.0         2500.0   3400         -
5  Connecticut              3200.0          210.0     40        70
6      Florida            220000.0        37000.0  30000     28000
7      Georgia            110000.0        18000.0   4400      1900
8       Hawaii             13000.0          690.0   2700       760
9        Idaho            121000.0        22000.0   5500      5500

In [146]:
# Merge quarter one and two on state
q1_q2 = pd.merge(q1_df, q2_df, on="State", suffixes=("_q_one", "_q_two"))
q1_q2.head(10)

,State,Number of Colonies_q_one,Lost Colonies_q_one,Added_q_one,Renovated_q_one,Number of Colonies_q_two,Lost Colonies_q_two,Added_q_two,Renovated_q_two
0,Alabama,7000.0,1800.0,2800.0,250,7500.0,860.0,1900.0,680.0
1,Arizona,35000.0,4600.0,3400.0,2100,33000.0,5500.0,19500.0,7000.0
2,Arkansas,13000.0,1500.0,1200.0,90,13500.0,1900.0,11500.0,5500.0
3,California,1440000.0,255000.0,250000.0,124000,1040000.0,104000.0,170000.0,285000.0
4,Colorado,3500.0,1500.0,200.0,140,12000.0,1900.0,6000.0,3500.0
5,Connecticut,3900.0,870.0,290.0,-,3000.0,80.0,1100.0,150.0
6,Florida,305000.0,42000.0,54000.0,25000,210000.0,35000.0,44000.0,24000.0
7,Georgia,104000.0,14500.0,47000.0,9500,114000.0,23000.0,25000.0,19000.0
8,Hawaii,10500.0,380.0,3400.0,760,13500.0,120.0,1100.0,1200.0
9,Idaho,81000.0,3700.0,2600.0,8000,62000.0,6500.0,16500.0,10500.0

In [149]:
# Set missing values to numberic and fill with 0
q1_q2['Renovated_q_one'] = q1_q2['Renovated_q_one'].apply(pd.to_numeric, errors='coerce')
q1_q2 = q1_q2.fillna(0)
q1_q2.head(10)

,State,Number of Colonies_q_one,Lost Colonies_q_one,Added_q_one,Renovated_q_one,Number of Colonies_q_two,Lost Colonies_q_two,Added_q_two,Renovated_q_two
0,Alabama,7000.0,1800.0,2800.0,250.0,7500.0,860.0,1900.0,680.0
1,Arizona,35000.0,4600.0,3400.0,2100.0,33000.0,5500.0,19500.0,7000.0
2,Arkansas,13000.0,1500.0,1200.0,90.0,13500.0,1900.0,11500.0,5500.0
3,California,1440000.0,255000.0,250000.0,124000.0,1040000.0,104000.0,170000.0,285000.0
4,Colorado,3500.0,1500.0,200.0,140.0,12000.0,1900.0,6000.0,3500.0
5,Connecticut,3900.0,870.0,290.0,0.0,3000.0,80.0,1100.0,150.0
6,Florida,305000.0,42000.0,54000.0,25000.0,210000.0,35000.0,44000.0,24000.0
7,Georgia,104000.0,14500.0,47000.0,9500.0,114000.0,23000.0,25000.0,19000.0
8,Hawaii,10500.0,380.0,3400.0,760.0,13500.0,120.0,1100.0,1200.0
9,Idaho,81000.0,3700.0,2600.0,8000.0,62000.0,6500.0,16500.0,10500.0

In [150]:
# Preform calculations to add q1 and q2 totals (added, lost & renovated)
lost = q1_q2["Lost Colonies_q_one"] + q1_q2["Lost Colonies_q_two"]
q1_q2["Lost"]=lost
added = q1_q2["Added_q_one"] + q1_q2["Added_q_two"]
q1_q2["Added"]=added
reno = q1_q2["Renovated_q_one"] + q1_q2["Renovated_q_two"]
q1_q2["Renovated"]=reno
q1_q2.head(10)

,State,Number of Colonies_q_one,Lost Colonies_q_one,Added_q_one,Renovated_q_one,Number of Colonies_q_two,Lost Colonies_q_two,Added_q_two,Renovated_q_two,Lost,Added,Renovated
0,Alabama,7000.0,1800.0,2800.0,250.0,7500.0,860.0,1900.0,680.0,2660.0,4700.0,930.0
1,Arizona,35000.0,4600.0,3400.0,2100.0,33000.0,5500.0,19500.0,7000.0,10100.0,22900.0,9100.0
2,Arkansas,13000.0,1500.0,1200.0,90.0,13500.0,1900.0,11500.0,5500.0,3400.0,12700.0,5590.0
3,California,1440000.0,255000.0,250000.0,124000.0,1040000.0,104000.0,170000.0,285000.0,359000.0,420000.0,409000.0
4,Colorado,3500.0,1500.0,200.0,140.0,12000.0,1900.0,6000.0,3500.0,3400.0,6200.0,3640.0
5,Connecticut,3900.0,870.0,290.0,0.0,3000.0,80.0,1100.0,150.0,950.0,1390.0,150.0
6,Florida,305000.0,42000.0,54000.0,25000.0,210000.0,35000.0,44000.0,24000.0,77000.0,98000.0,49000.0
7,Georgia,104000.0,14500.0,47000.0,9500.0,114000.0,23000.0,25000.0,19000.0,37500.0,72000.0,28500.0
8,Hawaii,10500.0,380.0,3400.0,760.0,13500.0,120.0,1100.0,1200.0,500.0,4500.0,1960.0
9,Idaho,81000.0,3700.0,2600.0,8000.0,62000.0,6500.0,16500.0,10500.0,10200.0,19100.0,18500.0

In [151]:
# Delete unneeded columns
del q1_q2['Lost Colonies_q_one']
del q1_q2['Renovated_q_two']
del q1_q2['Renovated_q_one']
del q1_q2['Lost Colonies_q_two']
del q1_q2['Added_q_one']
del q1_q2['Added_q_two']
del q1_q2['Number of Colonies_q_two']
q1_q2.head(10)

         State  Number of Colonies_q_one      Lost     Added  Renovated
0      Alabama                    7000.0    2660.0    4700.0      930.0
1      Arizona                   35000.0   10100.0   22900.0     9100.0
2     Arkansas                   13000.0    3400.0   12700.0     5590.0
3   California                 1440000.0  359000.0  420000.0   409000.0
4     Colorado                    3500.0    3400.0    6200.0     3640.0
5  Connecticut                    3900.0     950.0    1390.0      150.0
6      Florida                  305000.0   77000.0   98000.0    49000.0
7      Georgia                  104000.0   37500.0   72000.0    28500.0
8       Hawaii                   10500.0     500.0    4500.0     1960.0
9        Idaho                   81000.0   10200.0   19100.0    18500.0

In [155]:
# Merge quarters one & two with three on state
1_q3 = pd.merge(q1_q2, q3_df, on="State")
q1_q3.head(10)

,State,Number of Colonies_q_one,Lost,Added_x,Renovated_x,Number of Colonies,Lost Colonies,Added_y,Renovated_y
0,Alabama,7000.0,2660.0,4700.0,930.0,8500.0,1400.0,160.0,260.0
1,Arizona,35000.0,10100.0,22900.0,9100.0,40000.0,6000.0,4300.0,15500.0
2,Arkansas,13000.0,3400.0,12700.0,5590.0,23000.0,9000.0,500.0,210.0
3,California,1440000.0,359000.0,420000.0,409000.0,730000.0,76000.0,40000.0,93000.0
4,Colorado,3500.0,3400.0,6200.0,3640.0,29000.0,4500.0,1400.0,1400.0
5,Connecticut,3900.0,950.0,1390.0,150.0,3700.0,50.0,190.0,440.0
6,Florida,305000.0,77000.0,98000.0,49000.0,164000.0,36000.0,37000.0,29000.0
7,Georgia,104000.0,37500.0,72000.0,28500.0,108000.0,13000.0,19500.0,15500.0
8,Hawaii,10500.0,500.0,4500.0,1960.0,14500.0,2700.0,1200.0,5500.0
9,Idaho,81000.0,10200.0,19100.0,18500.0,80000.0,14000.0,5500.0,11500.0

In [157]:
# Set missing values to numberic and fill with 0
q1_q3['Renovated_y'] = q1_q3['Renovated_y'].apply(pd.to_numeric, errors='coerce')
q1_q3 = q1_q3.fillna(0)
q1_q3.head(10)

,State,Number of Colonies_q_one,Lost,Added_x,Renovated_x,Number of Colonies,Lost Colonies,Added_y,Renovated_y
0,Alabama,7000.0,2660.0,4700.0,930.0,8500.0,1400.0,160.0,260.0
1,Arizona,35000.0,10100.0,22900.0,9100.0,40000.0,6000.0,4300.0,15500.0
2,Arkansas,13000.0,3400.0,12700.0,5590.0,23000.0,9000.0,500.0,210.0
3,California,1440000.0,359000.0,420000.0,409000.0,730000.0,76000.0,40000.0,93000.0
4,Colorado,3500.0,3400.0,6200.0,3640.0,29000.0,4500.0,1400.0,1400.0
5,Connecticut,3900.0,950.0,1390.0,150.0,3700.0,50.0,190.0,440.0
6,Florida,305000.0,77000.0,98000.0,49000.0,164000.0,36000.0,37000.0,29000.0
7,Georgia,104000.0,37500.0,72000.0,28500.0,108000.0,13000.0,19500.0,15500.0
8,Hawaii,10500.0,500.0,4500.0,1960.0,14500.0,2700.0,1200.0,5500.0
9,Idaho,81000.0,10200.0,19100.0,18500.0,80000.0,14000.0,5500.0,11500.0

In [158]:
# Preform calculations to add q1 and q2 totals (added, lost & renovated)
lost = q1_q3["Lost"] + q1_q3["Lost Colonies"]
q1_q3["Lost"]=lost
added = q1_q3["Added_x"] + q1_q3["Added_y"]
q1_q3["Added"]=added
reno = q1_q3["Renovated_x"] + q1_q3["Renovated_y"]
q1_q3["Renovated"]=reno
q1_q3.head(10)

,State,Number of Colonies_q_one,Lost,Added_x,Renovated_x,Number of Colonies,Lost Colonies,Added_y,Renovated_y,Added,Renovated
0,Alabama,7000.0,4060.0,4700.0,930.0,8500.0,1400.0,160.0,260.0,4860.0,1190.0
1,Arizona,35000.0,16100.0,22900.0,9100.0,40000.0,6000.0,4300.0,15500.0,27200.0,24600.0
2,Arkansas,13000.0,12400.0,12700.0,5590.0,23000.0,9000.0,500.0,210.0,13200.0,5800.0
3,California,1440000.0,435000.0,420000.0,409000.0,730000.0,76000.0,40000.0,93000.0,460000.0,502000.0
4,Colorado,3500.0,7900.0,6200.0,3640.0,29000.0,4500.0,1400.0,1400.0,7600.0,5040.0
5,Connecticut,3900.0,1000.0,1390.0,150.0,3700.0,50.0,190.0,440.0,1580.0,590.0
6,Florida,305000.0,113000.0,98000.0,49000.0,164000.0,36000.0,37000.0,29000.0,135000.0,78000.0
7,Georgia,104000.0,50500.0,72000.0,28500.0,108000.0,13000.0,19500.0,15500.0,91500.0,44000.0
8,Hawaii,10500.0,3200.0,4500.0,1960.0,14500.0,2700.0,1200.0,5500.0,5700.0,7460.0
9,Idaho,81000.0,24200.0,19100.0,18500.0,80000.0,14000.0,5500.0,11500.0,24600.0,30000.0

In [159]:
# Delete unneeded columns
del q1_q3['Lost Colonies']
del q1_q3['Renovated_x']
del q1_q3['Renovated_y']
del q1_q3['Added_x']
del q1_q3['Added_y']
del q1_q3['Number of Colonies']
q1_q3.head(10)

         State  Number of Colonies_q_one      Lost     Added  Renovated
0      Alabama                    7000.0    4060.0    4860.0     1190.0
1      Arizona                   35000.0   16100.0   27200.0    24600.0
2     Arkansas                   13000.0   12400.0   13200.0     5800.0
3   California                 1440000.0  435000.0  460000.0   502000.0
4     Colorado                    3500.0    7900.0    7600.0     5040.0
5  Connecticut                    3900.0    1000.0    1580.0      590.0
6      Florida                  305000.0  113000.0  135000.0    78000.0
7      Georgia                  104000.0   50500.0   91500.0    44000.0
8       Hawaii                   10500.0    3200.0    5700.0     7460.0
9        Idaho                   81000.0   24200.0   24600.0    30000.0

In [170]:
# Merge quarters one, two & three with four on state
q1_q4 = pd.merge(q1_q3, q4_df, on="State", suffixes=("_1", "_4"))
q1_q4.head(10)

,State,Number of Colonies_q_one,Lost,Added_1,Renovated_1,Number of Colonies,Lost Colonies,Added_4,Renovated_4
0,Alabama,7000.0,4060.0,4860.0,1190.0,8000.0,610.0,80,60
1,Arizona,35000.0,16100.0,27200.0,24600.0,36000.0,12000.0,3000,16000
2,Arkansas,13000.0,12400.0,13200.0,5800.0,23000.0,2400.0,1900,-
3,California,1440000.0,435000.0,460000.0,502000.0,750000.0,149000.0,39000,75000
4,Colorado,3500.0,7900.0,7600.0,5040.0,24000.0,2500.0,3400,-
5,Connecticut,3900.0,1000.0,1580.0,590.0,3200.0,210.0,40,70
6,Florida,305000.0,113000.0,135000.0,78000.0,220000.0,37000.0,30000,28000
7,Georgia,104000.0,50500.0,91500.0,44000.0,110000.0,18000.0,4400,1900
8,Hawaii,10500.0,3200.0,5700.0,7460.0,13000.0,690.0,2700,760
9,Idaho,81000.0,24200.0,24600.0,30000.0,121000.0,22000.0,5500,5500

In [171]:
# Set missing values to numberic and fill with 0
q1_q4['Renovated_4'] = q1_q4['Renovated_4'].apply(pd.to_numeric, errors='coerce')
q1_q4 = q1_q4.fillna(0)
q1_q4.head()

,State,Number of Colonies_q_one,Lost,Added_1,Renovated_1,Number of Colonies,Lost Colonies,Added_4,Renovated_4
0,Alabama,7000.0,4060.0,4860.0,1190.0,8000.0,610.0,80,60.0
1,Arizona,35000.0,16100.0,27200.0,24600.0,36000.0,12000.0,3000,16000.0
2,Arkansas,13000.0,12400.0,13200.0,5800.0,23000.0,2400.0,1900,0.0
3,California,1440000.0,435000.0,460000.0,502000.0,750000.0,149000.0,39000,75000.0
4,Colorado,3500.0,7900.0,7600.0,5040.0,24000.0,2500.0,3400,0.0

In [172]:
# Set missing values to numberic and fill with 0
q1_q4['Added_4'] = q1_q4['Added_4'].apply(pd.to_numeric, errors='coerce')
q1_q4 = q1_q4.fillna(0)
q1_q4.head()

,State,Number of Colonies_q_one,Lost,Added_1,Renovated_1,Number of Colonies,Lost Colonies,Added_4,Renovated_4
0,Alabama,7000.0,4060.0,4860.0,1190.0,8000.0,610.0,80.0,60.0
1,Arizona,35000.0,16100.0,27200.0,24600.0,36000.0,12000.0,3000.0,16000.0
2,Arkansas,13000.0,12400.0,13200.0,5800.0,23000.0,2400.0,1900.0,0.0
3,California,1440000.0,435000.0,460000.0,502000.0,750000.0,149000.0,39000.0,75000.0
4,Colorado,3500.0,7900.0,7600.0,5040.0,24000.0,2500.0,3400.0,0.0

In [175]:
# Preform calculations to add q1 and q2 totals (added, lost & renovated)
lost = q1_q4["Lost"] + q1_q4["Lost Colonies"]
q1_q4["Lost_Total"]=lost
added = q1_q4["Added_1"] + q1_q4["Added_4"]
q1_q4["Added_Total"]=added
reno = q1_q4["Renovated_1"] + q1_q4["Renovated_4"]
q1_q4["Renovated_Total"]=reno
q1_q4.head(10)

,State,Number of Colonies_q_one,Lost,Added_1,Renovated_1,Number of Colonies,Lost Colonies,Added_4,Renovated_4,Lost_Total,Added_Total,Renovated_Total
0,Alabama,7000.0,4060.0,4860.0,1190.0,8000.0,610.0,80.0,60.0,4670.0,4940.0,1250.0
1,Arizona,35000.0,16100.0,27200.0,24600.0,36000.0,12000.0,3000.0,16000.0,28100.0,30200.0,40600.0
2,Arkansas,13000.0,12400.0,13200.0,5800.0,23000.0,2400.0,1900.0,0.0,14800.0,15100.0,5800.0
3,California,1440000.0,435000.0,460000.0,502000.0,750000.0,149000.0,39000.0,75000.0,584000.0,499000.0,577000.0
4,Colorado,3500.0,7900.0,7600.0,5040.0,24000.0,2500.0,3400.0,0.0,10400.0,11000.0,5040.0
5,Connecticut,3900.0,1000.0,1580.0,590.0,3200.0,210.0,40.0,70.0,1210.0,1620.0,660.0
6,Florida,305000.0,113000.0,135000.0,78000.0,220000.0,37000.0,30000.0,28000.0,150000.0,165000.0,106000.0
7,Georgia,104000.0,50500.0,91500.0,44000.0,110000.0,18000.0,4400.0,1900.0,68500.0,95900.0,45900.0
8,Hawaii,10500.0,3200.0,5700.0,7460.0,13000.0,690.0,2700.0,760.0,3890.0,8400.0,8220.0
9,Idaho,81000.0,24200.0,24600.0,30000.0,121000.0,22000.0,5500.0,5500.0,46200.0,30100.0,35500.0

In [184]:
# Rename and organize dataframe columns
state = q1_q4["State"]
start = q1_q4["Number of Colonies_q_one"]
end = q1_q4["Number of Colonies"]
added = q1_q4["Added_Total"]
lost = q1_q4["Lost_Total"]
renovated = q1_q4["Renovated_Total"]
total_2015 = pd.DataFrame({"State":state, "January 2015 # Colonies":start, "December 2015 # Colonies":end, "Added Colonies":added, "Lost Colonies":lost, "Renovated Colonies":renovated})
total_2015

,State,January 2015 # Colonies,December 2015 # Colonies,Added Colonies,Lost Colonies,Renovated Colonies
0,Alabama,7000.0,8000.0,4940.0,4670.0,1250.0
1,Arizona,35000.0,36000.0,30200.0,28100.0,40600.0
2,Arkansas,13000.0,23000.0,15100.0,14800.0,5800.0
3,California,1440000.0,750000.0,499000.0,584000.0,577000.0
4,Colorado,3500.0,24000.0,11000.0,10400.0,5040.0
5,Connecticut,3900.0,3200.0,1620.0,1210.0,660.0
6,Florida,305000.0,220000.0,165000.0,150000.0,106000.0
7,Georgia,104000.0,110000.0,95900.0,68500.0,45900.0
8,Hawaii,10500.0,13000.0,8400.0,3890.0,8220.0
9,Idaho,81000.0,121000.0,30100.0,46200.0,35500.0
10,Illinois,6000.0,14000.0,9600.0,7590.0,3020.0
11,Indiana,9000.0,11500.0,6930.0,6100.0,4840.0
12,Iowa,12500.0,35000.0,8880.0,11800.0,4080.0
13,Kansas,4600.0,8500.0,3400.0,6670.0,670.0
14,Kentucky,7500.0,8500.0,4040.0,7480.0,2060.0
15,Louisiana,51000.0,55000.0,13000.0,16700.0,18700.0
16,Maine,3100.0,4700.0,4460.0,4090.0,860.0
17,Maryland,7500.0,7500.0,4930.0,5880.0,1650.0
18,Massachusetts,2900.0,4500.0,1520.0,2140.0,1060.0
19,Michigan,16500.0,67000.0,24510.0,37000.0,13300.0
20,Minnesota,28000.0,104000.0,21930.0,58200.0,23870.0
21,Mississippi,34000.0,31000.0,28260.0,24500.0,17840.0
22,Missouri,12000.0,13500.0,2850.0,4390.0,3380.0
23,Montana,8500.0,116000.0,19600.0,26900.0,44180.0
24,Nebraska,10000.0,72000.0,16130.0,19700.0,16410.0
25,New Jersey,6000.0,8000.0,2880.0,3380.0,5010.0
26,New Mexico,7000.0,6000.0,3280.0,3580.0,1610.0
27,New York,27000.0,45000.0,16090.0,18100.0,9460.0
28,North Carolina,24000.0,22000.0,14510.0,13900.0,5160.0
29,North Dakota,57000.0,230000.0,54500.0,157620.0,92530.0
30,Ohio,18000.0,19000.0,17500.0,16900.0,10320.0
31,Oklahoma,9500.0,5000.0,8550.0,9080.0,2710.0
32,Oregon,77000.0,100000.0,27000.0,29000.0,34300.0
33,Pennsylvania,14000.0,22000.0,11960.0,12400.0,11500.0
34,South Carolina,17000.0,10000.0,5320.0,7850.0,4980.0
35,South Dakota,50000.0,194000.0,40000.0,87600.0,38800.0
36,Tennessee,9500.0,8500.0,5170.0,5030.0,1880.0
37,Texas,191000.0,125000.0,176500.0,100500.0,151800.0
38,Utah,6000.0,28000.0,14020.0,16600.0,6490.0
39,Vermont,5500.0,6500.0,1820.0,1780.0,100.0
40,Virginia,8000.0,7500.0,3420.0,4200.0,1460.0
41,Washington,52000.0,87000.0,30630.0,37000.0,42170.0
42,West Virginia,4700.0,7000.0,3960.0,3280.0,1060.0
43,Wisconsin,16500.0,48000.0,14610.0,28100.0,12310.0
44,Wyoming,5500.0,24000.0,9800.0,9000.0,6840.0
45,Other States 5/,3410.0,11360.0,6160.0,6550.0,2860.0
46,United States,2824610.0,2874760.0,1498980.0,1722360.0,1425240.0
47,(X) Not applicable.,0.0,0.0,0.0,0.0,0.0
48,3/ Defined as any surviving colony that was re...,0.0,0.0,0.0,0.0,0.0
49,"5/ Alaska, Delaware, Nevada, New Hampshire, an...",0.0,0.0,0.0,0.0,0.0

In [189]:
# Set dataframe index to state
total_2015=total_2015.set_index("State")
total_2015

,January 2015 # Colonies,December 2015 # Colonies,Added Colonies,Lost Colonies,Renovated Colonies
State,,,,,
Alabama,7000.0,8000.0,4940.0,4670.0,1250.0
Arizona,35000.0,36000.0,30200.0,28100.0,40600.0
Arkansas,13000.0,23000.0,15100.0,14800.0,5800.0
California,1440000.0,750000.0,499000.0,584000.0,577000.0
Colorado,3500.0,24000.0,11000.0,10400.0,5040.0
Connecticut,3900.0,3200.0,1620.0,1210.0,660.0
Florida,305000.0,220000.0,165000.0,150000.0,106000.0
Georgia,104000.0,110000.0,95900.0,68500.0,45900.0
Hawaii,10500.0,13000.0,8400.0,3890.0,8220.0
Idaho,81000.0,121000.0,30100.0,46200.0,35500.0
Illinois,6000.0,14000.0,9600.0,7590.0,3020.0
Indiana,9000.0,11500.0,6930.0,6100.0,4840.0
Iowa,12500.0,35000.0,8880.0,11800.0,4080.0
Kansas,4600.0,8500.0,3400.0,6670.0,670.0
Kentucky,7500.0,8500.0,4040.0,7480.0,2060.0
Louisiana,51000.0,55000.0,13000.0,16700.0,18700.0
Maine,3100.0,4700.0,4460.0,4090.0,860.0
Maryland,7500.0,7500.0,4930.0,5880.0,1650.0
Massachusetts,2900.0,4500.0,1520.0,2140.0,1060.0
Michigan,16500.0,67000.0,24510.0,37000.0,13300.0
Minnesota,28000.0,104000.0,21930.0,58200.0,23870.0
Mississippi,34000.0,31000.0,28260.0,24500.0,17840.0
Missouri,12000.0,13500.0,2850.0,4390.0,3380.0
Montana,8500.0,116000.0,19600.0,26900.0,44180.0
Nebraska,10000.0,72000.0,16130.0,19700.0,16410.0
New Jersey,6000.0,8000.0,2880.0,3380.0,5010.0
New Mexico,7000.0,6000.0,3280.0,3580.0,1610.0
New York,27000.0,45000.0,16090.0,18100.0,9460.0
North Carolina,24000.0,22000.0,14510.0,13900.0,5160.0
North Dakota,57000.0,230000.0,54500.0,157620.0,92530.0
Ohio,18000.0,19000.0,17500.0,16900.0,10320.0
Oklahoma,9500.0,5000.0,8550.0,9080.0,2710.0
Oregon,77000.0,100000.0,27000.0,29000.0,34300.0
Pennsylvania,14000.0,22000.0,11960.0,12400.0,11500.0
South Carolina,17000.0,10000.0,5320.0,7850.0,4980.0
South Dakota,50000.0,194000.0,40000.0,87600.0,38800.0
Tennessee,9500.0,8500.0,5170.0,5030.0,1880.0
Texas,191000.0,125000.0,176500.0,100500.0,151800.0
Utah,6000.0,28000.0,14020.0,16600.0,6490.0
Vermont,5500.0,6500.0,1820.0,1780.0,100.0
Virginia,8000.0,7500.0,3420.0,4200.0,1460.0
Washington,52000.0,87000.0,30630.0,37000.0,42170.0
West Virginia,4700.0,7000.0,3960.0,3280.0,1060.0
Wisconsin,16500.0,48000.0,14610.0,28100.0,12310.0
Wyoming,5500.0,24000.0,9800.0,9000.0,6840.0
Other States 5/,3410.0,11360.0,6160.0,6550.0,2860.0
United States,2824610.0,2874760.0,1498980.0,1722360.0,1425240.0
(X) Not applicable.,0.0,0.0,0.0,0.0,0.0
3/ Defined as any surviving colony that was requeened or received new honey bees through nuc or package.,0.0,0.0,0.0,0.0,0.0
"5/ Alaska, Delaware, Nevada, New Hampshire, and Rhode Island not published separately to avoid disclosing data for individual operations.",0.0,0.0,0.0,0.0,0.0

In [199]:
# Drop the bottom 5 rows of the dataframe
total_2015.drop(total_2015.index[45:], inplace=True)
total_2015

,January 2015 # Colonies,December 2015 # Colonies,Added Colonies,Lost Colonies,Renovated Colonies
State,,,,,
Alabama,7000.0,8000.0,4940.0,4670.0,1250.0
Arizona,35000.0,36000.0,30200.0,28100.0,40600.0
Arkansas,13000.0,23000.0,15100.0,14800.0,5800.0
California,1440000.0,750000.0,499000.0,584000.0,577000.0
Colorado,3500.0,24000.0,11000.0,10400.0,5040.0
Connecticut,3900.0,3200.0,1620.0,1210.0,660.0
Florida,305000.0,220000.0,165000.0,150000.0,106000.0
Georgia,104000.0,110000.0,95900.0,68500.0,45900.0
Hawaii,10500.0,13000.0,8400.0,3890.0,8220.0
Idaho,81000.0,121000.0,30100.0,46200.0,35500.0
Illinois,6000.0,14000.0,9600.0,7590.0,3020.0
Indiana,9000.0,11500.0,6930.0,6100.0,4840.0
Iowa,12500.0,35000.0,8880.0,11800.0,4080.0
Kansas,4600.0,8500.0,3400.0,6670.0,670.0
Kentucky,7500.0,8500.0,4040.0,7480.0,2060.0
Louisiana,51000.0,55000.0,13000.0,16700.0,18700.0
Maine,3100.0,4700.0,4460.0,4090.0,860.0
Maryland,7500.0,7500.0,4930.0,5880.0,1650.0
Massachusetts,2900.0,4500.0,1520.0,2140.0,1060.0
Michigan,16500.0,67000.0,24510.0,37000.0,13300.0
Minnesota,28000.0,104000.0,21930.0,58200.0,23870.0
Mississippi,34000.0,31000.0,28260.0,24500.0,17840.0
Missouri,12000.0,13500.0,2850.0,4390.0,3380.0
Montana,8500.0,116000.0,19600.0,26900.0,44180.0
Nebraska,10000.0,72000.0,16130.0,19700.0,16410.0
New Jersey,6000.0,8000.0,2880.0,3380.0,5010.0
New Mexico,7000.0,6000.0,3280.0,3580.0,1610.0
New York,27000.0,45000.0,16090.0,18100.0,9460.0
North Carolina,24000.0,22000.0,14510.0,13900.0,5160.0
North Dakota,57000.0,230000.0,54500.0,157620.0,92530.0
Ohio,18000.0,19000.0,17500.0,16900.0,10320.0
Oklahoma,9500.0,5000.0,8550.0,9080.0,2710.0
Oregon,77000.0,100000.0,27000.0,29000.0,34300.0
Pennsylvania,14000.0,22000.0,11960.0,12400.0,11500.0
South Carolina,17000.0,10000.0,5320.0,7850.0,4980.0
South Dakota,50000.0,194000.0,40000.0,87600.0,38800.0
Tennessee,9500.0,8500.0,5170.0,5030.0,1880.0
Texas,191000.0,125000.0,176500.0,100500.0,151800.0
Utah,6000.0,28000.0,14020.0,16600.0,6490.0
Vermont,5500.0,6500.0,1820.0,1780.0,100.0
Virginia,8000.0,7500.0,3420.0,4200.0,1460.0
Washington,52000.0,87000.0,30630.0,37000.0,42170.0
West Virginia,4700.0,7000.0,3960.0,3280.0,1060.0
Wisconsin,16500.0,48000.0,14610.0,28100.0,12310.0
Wyoming,5500.0,24000.0,9800.0,9000.0,6840.0

In [200]:
# Calculate the change in number of colonies from Jan. to Dec. and put that info into a column
change = total_2015["December 2015 # Colonies"]-total_2015["January 2015 # Colonies"]
total_2015["Colony Change 2015"]=change
total_2015

,January 2015 # Colonies,December 2015 # Colonies,Added Colonies,Lost Colonies,Renovated Colonies,Colony Change 2015
State,,,,,,
Alabama,7000.0,8000.0,4940.0,4670.0,1250.0,1000.0
Arizona,35000.0,36000.0,30200.0,28100.0,40600.0,1000.0
Arkansas,13000.0,23000.0,15100.0,14800.0,5800.0,10000.0
California,1440000.0,750000.0,499000.0,584000.0,577000.0,-690000.0
Colorado,3500.0,24000.0,11000.0,10400.0,5040.0,20500.0
Connecticut,3900.0,3200.0,1620.0,1210.0,660.0,-700.0
Florida,305000.0,220000.0,165000.0,150000.0,106000.0,-85000.0
Georgia,104000.0,110000.0,95900.0,68500.0,45900.0,6000.0
Hawaii,10500.0,13000.0,8400.0,3890.0,8220.0,2500.0
Idaho,81000.0,121000.0,30100.0,46200.0,35500.0,40000.0
Illinois,6000.0,14000.0,9600.0,7590.0,3020.0,8000.0
Indiana,9000.0,11500.0,6930.0,6100.0,4840.0,2500.0
Iowa,12500.0,35000.0,8880.0,11800.0,4080.0,22500.0
Kansas,4600.0,8500.0,3400.0,6670.0,670.0,3900.0
Kentucky,7500.0,8500.0,4040.0,7480.0,2060.0,1000.0
Louisiana,51000.0,55000.0,13000.0,16700.0,18700.0,4000.0
Maine,3100.0,4700.0,4460.0,4090.0,860.0,1600.0
Maryland,7500.0,7500.0,4930.0,5880.0,1650.0,0.0
Massachusetts,2900.0,4500.0,1520.0,2140.0,1060.0,1600.0
Michigan,16500.0,67000.0,24510.0,37000.0,13300.0,50500.0
Minnesota,28000.0,104000.0,21930.0,58200.0,23870.0,76000.0
Mississippi,34000.0,31000.0,28260.0,24500.0,17840.0,-3000.0
Missouri,12000.0,13500.0,2850.0,4390.0,3380.0,1500.0
Montana,8500.0,116000.0,19600.0,26900.0,44180.0,107500.0
Nebraska,10000.0,72000.0,16130.0,19700.0,16410.0,62000.0
New Jersey,6000.0,8000.0,2880.0,3380.0,5010.0,2000.0
New Mexico,7000.0,6000.0,3280.0,3580.0,1610.0,-1000.0
New York,27000.0,45000.0,16090.0,18100.0,9460.0,18000.0
North Carolina,24000.0,22000.0,14510.0,13900.0,5160.0,-2000.0
North Dakota,57000.0,230000.0,54500.0,157620.0,92530.0,173000.0
Ohio,18000.0,19000.0,17500.0,16900.0,10320.0,1000.0
Oklahoma,9500.0,5000.0,8550.0,9080.0,2710.0,-4500.0
Oregon,77000.0,100000.0,27000.0,29000.0,34300.0,23000.0
Pennsylvania,14000.0,22000.0,11960.0,12400.0,11500.0,8000.0
South Carolina,17000.0,10000.0,5320.0,7850.0,4980.0,-7000.0
South Dakota,50000.0,194000.0,40000.0,87600.0,38800.0,144000.0
Tennessee,9500.0,8500.0,5170.0,5030.0,1880.0,-1000.0
Texas,191000.0,125000.0,176500.0,100500.0,151800.0,-66000.0
Utah,6000.0,28000.0,14020.0,16600.0,6490.0,22000.0
Vermont,5500.0,6500.0,1820.0,1780.0,100.0,1000.0
Virginia,8000.0,7500.0,3420.0,4200.0,1460.0,-500.0
Washington,52000.0,87000.0,30630.0,37000.0,42170.0,35000.0
West Virginia,4700.0,7000.0,3960.0,3280.0,1060.0,2300.0
Wisconsin,16500.0,48000.0,14610.0,28100.0,12310.0,31500.0
Wyoming,5500.0,24000.0,9800.0,9000.0,6840.0,18500.0

In [202]:
# Reorganize the dataframe
total_2015 = total_2015[["January 2015 # Colonies", "December 2015 # Colonies", "Colony Change 2015", "Added Colonies", "Lost Colonies", "Renovated Colonies"]]
total_2015

,January 2015 # Colonies,December 2015 # Colonies,Colony Change 2015,Added Colonies,Lost Colonies,Renovated Colonies
State,,,,,,
Alabama,7000.0,8000.0,1000.0,4940.0,4670.0,1250.0
Arizona,35000.0,36000.0,1000.0,30200.0,28100.0,40600.0
Arkansas,13000.0,23000.0,10000.0,15100.0,14800.0,5800.0
California,1440000.0,750000.0,-690000.0,499000.0,584000.0,577000.0
Colorado,3500.0,24000.0,20500.0,11000.0,10400.0,5040.0
Connecticut,3900.0,3200.0,-700.0,1620.0,1210.0,660.0
Florida,305000.0,220000.0,-85000.0,165000.0,150000.0,106000.0
Georgia,104000.0,110000.0,6000.0,95900.0,68500.0,45900.0
Hawaii,10500.0,13000.0,2500.0,8400.0,3890.0,8220.0
Idaho,81000.0,121000.0,40000.0,30100.0,46200.0,35500.0
Illinois,6000.0,14000.0,8000.0,9600.0,7590.0,3020.0
Indiana,9000.0,11500.0,2500.0,6930.0,6100.0,4840.0
Iowa,12500.0,35000.0,22500.0,8880.0,11800.0,4080.0
Kansas,4600.0,8500.0,3900.0,3400.0,6670.0,670.0
Kentucky,7500.0,8500.0,1000.0,4040.0,7480.0,2060.0
Louisiana,51000.0,55000.0,4000.0,13000.0,16700.0,18700.0
Maine,3100.0,4700.0,1600.0,4460.0,4090.0,860.0
Maryland,7500.0,7500.0,0.0,4930.0,5880.0,1650.0
Massachusetts,2900.0,4500.0,1600.0,1520.0,2140.0,1060.0
Michigan,16500.0,67000.0,50500.0,24510.0,37000.0,13300.0
Minnesota,28000.0,104000.0,76000.0,21930.0,58200.0,23870.0
Mississippi,34000.0,31000.0,-3000.0,28260.0,24500.0,17840.0
Missouri,12000.0,13500.0,1500.0,2850.0,4390.0,3380.0
Montana,8500.0,116000.0,107500.0,19600.0,26900.0,44180.0
Nebraska,10000.0,72000.0,62000.0,16130.0,19700.0,16410.0
New Jersey,6000.0,8000.0,2000.0,2880.0,3380.0,5010.0
New Mexico,7000.0,6000.0,-1000.0,3280.0,3580.0,1610.0
New York,27000.0,45000.0,18000.0,16090.0,18100.0,9460.0
North Carolina,24000.0,22000.0,-2000.0,14510.0,13900.0,5160.0
North Dakota,57000.0,230000.0,173000.0,54500.0,157620.0,92530.0
Ohio,18000.0,19000.0,1000.0,17500.0,16900.0,10320.0
Oklahoma,9500.0,5000.0,-4500.0,8550.0,9080.0,2710.0
Oregon,77000.0,100000.0,23000.0,27000.0,29000.0,34300.0
Pennsylvania,14000.0,22000.0,8000.0,11960.0,12400.0,11500.0
South Carolina,17000.0,10000.0,-7000.0,5320.0,7850.0,4980.0
South Dakota,50000.0,194000.0,144000.0,40000.0,87600.0,38800.0
Tennessee,9500.0,8500.0,-1000.0,5170.0,5030.0,1880.0
Texas,191000.0,125000.0,-66000.0,176500.0,100500.0,151800.0
Utah,6000.0,28000.0,22000.0,14020.0,16600.0,6490.0
Vermont,5500.0,6500.0,1000.0,1820.0,1780.0,100.0
Virginia,8000.0,7500.0,-500.0,3420.0,4200.0,1460.0
Washington,52000.0,87000.0,35000.0,30630.0,37000.0,42170.0
West Virginia,4700.0,7000.0,2300.0,3960.0,3280.0,1060.0
Wisconsin,16500.0,48000.0,31500.0,14610.0,28100.0,12310.0
Wyoming,5500.0,24000.0,18500.0,9800.0,9000.0,6840.0

In [204]:
# Export dataframe to a CSV
total_2015.to_csv('Resources/colony_data.csv', header = True)